html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../public/wallpapers/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    font-family: "Arial Black";
}